.experience__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    width: 80%;
    margin: 0 auto;
}

.experience__container > div {
    background: var(--color-bg-variant);
    padding: 2rem 3rem;
    border-radius: 1.5rem;
    /* border: 1px solid transparent; */
    transition: var(--transition);
}

.experience__container > div:hover {
    transform:skewY(-2deg);
    background: linear-gradient(45deg, #1D2043, #285880);
    border-color: var(--color-primary-variant);
    cursor: default;
}

.experience__container > div h3 {
    text-align: center;
    margin-bottom: 2rem;
    color: var(--color-primary);
}

.experience__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 2rem;
}

.experience__details {
    display: flex;
    gap: 1rem;
}

.experience__details-icon {
    margin-top: 6px;
    color: var(--color-primary);
}

.devlogo {
    margin-top: 5px;
    width: 44px;
    height: 44px;
}

@media screen and (max-width: 1024px) {
    .experience__container {
        grid-template-columns: 1fr 1fr;
    }
    .experience__container > div {
        width: 80%;
        padding: 2rem;
        margin: 0 auto;
    }

    .experience__content {
        padding: 1rem;
    }

    .devlogo {
        margin-top: 5px;
        width: 44px;
        height: 44px;
    }

}

@media screen and (max-width: 600px) {
    .experience__container {
        gap: 1rem;
        grid-template-columns: 1fr 1fr;
        width: 90%;
    }

    .experience__container > div {
        width: 100%;
        padding: 1.5rem 1rem;
        border-radius: 1rem;
    }

    .devlogo {
        margin-top: 5px;
        width: 20px;
        height: 20px;
    }

}
