header {
    height: 100vh;
    padding-top: 7rem;
    overflow: hidden;
}

.header__container {
    text-align: center;
    height: 100%;
    position: relative;
}

.header__container > .hola {
    /* padding-top: 1rem; */
    font-size: 1.2rem;
}
.header__container > .text-light {
    font-size: 1.8rem;
}

.header__container > h1 {
    font-size: 4.5rem;
}

.header__container > h3 {
    font-size: 2.5rem;
    margin-top: 1.8rem;
}

.header__container > h3 > .gradient {
    font-weight: 500;
    background: -webkit-linear-gradient(180deg, #4e82bd, #bd70f0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.cta {
    margin-top: 2.5rem;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
}

.header__socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    position: absolute;
    left: 0;
    bottom: 3rem;
}
.header__socials::after {
    content: "";
    width: 1px;
    height: 2rem;
    background: var(--color-primary);
}

.me {
    background: linear-gradient(var(--color-primary), transparent);
    width: 18rem;
    height: 30rem;
    position: absolute;
    left: calc(50% - 9rem);
    margin-top: 4rem;
    border-radius: 12rem 12rem 0 0;
    overflow: hidden;
    padding: 5rem 1.5rem 1.5rem 1.5rem;
}

.scroll__down {
    position: absolute;
    bottom: 5rem;
    right: -2.3rem;
    transform: rotate(90deg);
    font-weight: 400;
    font-size: 0.9rem;
}

@media screen and (max-width: 1024px) {
    header {
        height: 68vh;
    }
}

@media screen and (max-width: 600px) {
    header {
        height: calc(100vh - 60px);
    }
    .header__socials,
    .scroll__down {
        display: none;
    }
    .header__container > .hola {
        padding-top: 5rem;
        font-size: 1.2rem;
    }
    .header__container > h1 {
        font-size: 4rem;
        margin: 1.5rem 0;
    }
    .header__container > .text-light {
        font-size: 1.2rem;
    }
    .header__container > h3 {
        font-size: 1.5rem;
        margin: 3rem 0 5rem 0;
    }
}
